body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#image {
    width: 400px;
    height: 350px;
    border: 5px solid black;
    margin: 20px auto;
    background-color: #8e68ff;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.preview {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

/* Thêm hiệu ứng khi di chuột hoặc tab vào ảnh */
.preview:focus, .preview:hover {
    border-color: #ff0000;
    transform: scale(1.05);
}