* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

div h1 {
    color: rgb(11, 150, 118);
    background: #38323264;
}

.menu {
    background-color: rgb(11, 150, 118);
    display: flex;
    gap: 15px;
    list-style: none;
    color: aliceblue;
}

.menu li {
    border-right: solid 1px;
    padding: 5px;
    margin: 5px;
}

.menu li a {
    color: aliceblue;
    text-decoration: none;
}


.box {
    display: flex;
    width: 100%;
    height: 400px;
    gap: 20px;
    margin-top: 10px;
}

.box-1 {
    flex: 40;           
    overflow: hidden;
    height: 100%;       
}


.box-3 {
    flex: 35;
}


.box-1 a {
    display: block;
    width: 100%;
    height: 70%;        
}

.box-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: block;
}

.box-2 {
    flex: 25;
    display: flex;
    flex-direction: column; 
    gap: 15px;             
}


.box-2 .item-small {
    display: flex;        
    align-items: flex-start;
    gap: 10px;    
    
}


.box-2 .item-small a {
    display: block;
    width: 150px;           
    height: 100px;           
    flex-shrink: 0;        
}

.box-2 .item-small img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box-2 .item-small .text-content p {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3;
    color: #333;
}
.mainbox{
    width: 1200px;
    height: 500px;
}
.mainboxOne{
    width: 950px;
    height: 185px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background: #807c7c42;
    
}
.mainbox123{
    flex-direction: column;
    display: flex;
    gap: 10px;
}
.mainbox12{
height: auto;
width: auto;
}

.mainbox13{
    width: 600px;
    height: 240px;
}